/* Estilos para el nodo raíz (root) */
.root {
    -fx-background-color: #111;
}

/* Estilos para el contenedor principal que contiene los campos de usuario y contraseña */
.vbox {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 20;
}

/* Estilos para los campos de texto de usuario y contraseña */
.text-field {
    -fx-prompt-text-fill: #20e354; /* Color del texto de marcador de posición */
    -fx-text-fill: white; /* Color del texto ingresado */
    -fx-background-color: #333; /* Color de fondo del campo de texto */
    -fx-background-radius: 5; /* Bordes redondeados */
    -fx-border-color: #20e354; /* Color del borde */
    -fx-border-radius: 5; /* Bordes redondeados para el borde */
    -fx-border-width: 2; /* Ancho del borde */
}

/* Estilos para el botón de inicio de sesión */
.button {
    -fx-background-color: #20e354; /* Color de fondo del botón */
    -fx-text-fill: #111; /* Color del texto del botón */
    -fx-font-weight: bold; /* Texto en negrita */
    -fx-background-radius: 5; /* Bordes redondeados */
    -fx-padding: 10 20; /* Espaciado interno del botón */
}

/* Estilos adicionales según sea necesario */
